@import "variables.mixins";
body {
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
}
.container {
  max-width: 1294px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
.section--container {
  margin-top: 75px ;
  text-align: center ¨!important;
}
.section__title {
  @include titlesH2();
}
.section__descr {
  @include text(13px);
  margin-top: 9px;
}
.btn--explore {
  border: 1px solid;
  border-radius: 200px;
  padding: 14px 53px;
  font-family: Inter;
  font-size: 18px;
}
/* header */
.header {
  .header--container {
    margin-top: 30px;
  }

  &__menu {
    @include flexCenter(row);
    justify-content: space-between;
    align-items: flex-start;

    .nav-bars {
      position: relative;
    }
    .header__list {
      display: flex;
      flex-direction: row;
    }
    .header__item {
      text-transform: uppercase;
      font-family: Inter;
      line-height: 17px;
      margin-right: 39px;
    }
    .fa-angle-down {
      color: rgba(7, 8, 71, 1);
    }
    .header__item:focus {
      color: #bcd3cc;
    }
    .header__search {
      margin-right: 17px;
      height: 24px;
      width: 24px;
    }
    .header__shop {
      margin-right: 28px;
      height: 24px;
      width: 24px;
    }
    .nav__list {
      display: none;
    }
    .bars {
      font-size: 14px;
      background-color: $color-green--light;
      width: 40px;
      height: 40px;
      color: white;
      display: none;
    }
    .bars i.fa-bars {
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }

    .bars i.fa-plus {
      font-size: 18px;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }
  }
  &__content {
    background-color: $color-green--light;
    border-radius: 32px;
    height: auto;
    position: relative;
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .arr {
      position: absolute;
      bottom: 47%;
    }
    .arr-right {
      right: 0;
      margin-right: 17px;
    }
    .arr-left {
      left: 0;
      margin-left: 17px;
    }
    .header__info {
      padding-top: 145px;
      padding-left: 56px;
    }
    .header__title {
      font-size: 58px;
      line-height: 70px;
    }
    .header__descr {
      font-family: Inter;
      font-size: 16px;
      line-height: 19px;
      margin-top: 18px;
    }
    .header__btn {
      margin-top: 30px;
    }

    .header__img {
    }

    .header__line--container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 26px;
    }

    .header__line {
      height: 2px;
      width: 194px;
      display: block;
      margin: 10px auto;
      background-color: black;
    }
    .header__line:not(:last-child) {
      margin-right: 34px;
    }
  }
}
/* latest offers */
.latest-offers {
  .latest-offers__title {
  }
  .latest-offers__descr {
  }
  .latest-offers__grid {
    margin-top: 55px;
    display: grid;
    justify-content: center;
    grid-template-columns: 639px 312px 312px;
    grid-template-rows: 400px;
    grid-column-gap: 16px;
    grid-row-gap: 72px;
  }
  .latest-offers__item {
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: relative;
  }
  .latest-offers__content {
    position: absolute;
  }
  .latest-offers__item-1 {
    grid-area: 1 / 1 / 3 / 2;

    img {
      padding-left: 42px;
    }
    .latest-offers__content {
      text-align: end;
      bottom: 0;
      padding: 0 42px 0 405px;
    }
  }
  .latest-offers__item-2 {
    grid-area: 1 / 2 / 4 / 3;
    height: 792px;
    img {
      padding-top: 144px;
      padding-left: 16px;
    }
    .latest-offers__content {
      bottom: 144px;
      text-align: center;
      padding: 0 31px;
    }
  }
  .latest-offers__item-3 {
    grid-area: 1 / 3 / 4 / 4;
    height: 792px;
    overflow: hidden;
    img {
      padding-top: 252px;
    }
    .latest-offers__content {
      top: 114px;
      text-align: center;
      padding: 0 40px;
    }
  }
  .latest-offers__item-4 {
    grid-area: 3 / 1 / 4 / 2;
    img {
      padding-left: 42px;
    }
    .latest-offers__content {
      text-align: end;
      padding: 0 42px 0 469px;
      right: 0;
      top: 87px;
    }
  }
  .latest-offers__item-title {
    @include titleH4(15px);
  }
  .latest-offers__item-descr {
    font-size: 32px;
    line-height: 38px;
  }
}
/* Most saled items */
.most-saled {
  .most-saled__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 59px;
  }
  .most-saled__card:not(:last-child) {
    margin-right: 28.5px;
  }
  .most-saled__card-image {
    width: 303px;
    text-align: center;
  }
  .most-saled__card-info {
    width: 302.5px;
    margin-top: 32px;
  }
  .most-saled__card-title {
    @include titileH3;
  }
  .most-saled__card-descr {
    @include text(14px);
    margin-top: 9px;
  }
  .most-saled__crad-price {
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
  }
}
/* best */
.best {
  .best__flex {
    display: flex;
    text-align: center;
    margin-top: 56px;
  }
  .best__card {
    background-color: $color-pink--light;
    max-width: 413px;
    border-radius: 16px;
  }
  .best__card:not(:last-child) {
    margin-right: 27px;
  }
  .best__card-descr {
    @include text(13px);
    margin-top: 41px;
  }
  .best__card-title {
    @include titleH5;
  }
  .best__btn {
    margin-top: 30px;
    padding: 14px 63px;
  }
  img {
    margin-top: 30px;
  }
}
/* ideas */
.ideas {
  .ideas__content {
    margin-top: 56px;
    display: flex;
  }
  .ideas__img {
    margin-right: 51px;
  }
  .ideas__text {
    margin-top: 14px;
    font-family: Inter;
    font-size: 24px;
    line-height: 30px;
    text-align: start;
    p:not(:first-child) {
      margin-top: 28px;
    }
  }
  .ideas__all {
    display: block;
    margin-top: 73px;
    font-family: Inter;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
  }
}
/* search */
.search {
  .search__input {
    position: relative;
    margin-top: 24px;
  }
  input {
    height: 60px;
    width: 650px;
    @include borderBtn;
    padding: 0 20px 0 67px;
    @include text(14px);
  }
  input::placeholder {
    color: black;
  }
  .search__icon {
    position: absolute;
    margin-left: 16.75px;
    top: 55%;
    transform: translateY(-50%);
  }
  .search__keywords {
    margin-top: 18px;
  }
  .search__key--container {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    flex-wrap: wrap;
  }

  .search__key {
    display: block;
    padding: 12px 22px 13px;
    @include borderBtn;
    margin-right: 7px;
  }
}
/* email */
.email {
  background-color: $color-green--light;
  height: 450px;
  max-width: 935px;
  margin: 0 auto;
  border-radius: 16px;
  @include flexCenter(column);

  .email__descr {
    font-family: Inter;
    font-size: 16px;
    line-height: 32px;
  }
  .email__img {
    margin-top: 14px;
  }
  .email__label {
    @include text(14px);
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }
  input {
    padding-left: 32px;
    background-color: $color-green--light;
    padding: 16px 72px 17px 32px;
    border: 1px solid black;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  input::placeholder {
    color: black;
  }
  .btn-signup {
    background-color: black;
    color: white;
    padding: 16px 33px 17px 32px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-family: Inter;
  }
}
/* footer */

.footer {
  margin-top: 19px;
  border-top: 1px solid $color-green--light;
  background-color: rgba(248, 249, 250, 1);
  .footer__flex {
    display: flex;
    padding-top: 40px;
    padding-bottom: 78px;
    flex-wrap: wrap;
  }
  .footer__logo {
    max-width: 394px;
    margin-right: 28px;
    margin-top: 7px;
  }
  .logo {
    width: 181px;
  }
  .footer__descr {
    padding-right: 90px;
    font-family: Inter;
    font-size: 16px;
    line-height: 19px;
    margin-top: 18.4px;
  }
  .footer__menu {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__menu-list {
    width: 197px;
  }
  .footer__menu-list:not(:last-child) {
    margin-right: 28px;
  }
  .footer__menu-item {
  }
  .footer__menu-item:not(:first-child) {
    margin-top: 14px;
    font-family: Inter;
    font-size: 17px;
    line-height: 22.6px;
  }
  .footer__menu-title {
    @include titileH3;
  }
  .footer__info {
    border-top: 1px solid $color-green--light;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      padding: 57px 28px 0;
      font-size: 18px;
      line-height: 22px;
    }
    a {
      font-family: Inter;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
